.container{
    max-width: 1024px;
    margin: 0 auto;
}


.clearfix::after{
    content:"";
    display: block;
    clear: both;
}
header{
    min-height: 100px;
    background-color: rgb(61, 61, 243);
    margin-bottom: 20px;
}
.section1{
    min-height: 400px;
    background-color: rgb(76, 76, 235);
    margin-bottom: 20px;
}
.section2{
    min-height: 300px;
    background-color: rgb(21, 117, 196);
}
.row1{
    min-height: 60px;
    background-color: rgb(152, 209, 211);
}
.row2{
    height: 400px;
    background-color: rgb(0, 130, 134);
}
.col1{
    height: calc(100% - 30px);
    width: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(152, 209, 211);
    float: left;
    
}
.col2{
    width: calc( 60% - 40px );
    height: calc(100% - 30px);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(152, 209, 211);
    float: left;
}
.col3{
    width: 20%;
    height: calc(100% - 30px);
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(152, 209, 211);
    float: left;
}
footer{
    min-height: 60px;
    margin-top: 10px;
    background-color: rgb(31, 108, 223);
}