/* Layout */
.container{
    max-width: 1024px;
    margin: 0 auto;
}

.clearfix::after{
    content:"";
    display: block;
    clear: both;
}
header{
    min-height: 80px;
    margin-bottom: 20px;
}

.section1{
    min-height: 400px;
    background-color: rgb(76, 76, 235);
    margin-bottom: 20px;
    position: relative;
    background-image: url(img/banner.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}
.section2{
    min-height: 600px;
}
.row1{
    min-height: 60px;
}
.row2{
    min-height: 400px;
    margin-top: 20px;
    position: relative;
}
.col1{
    width: calc(25% - 10px);
    height: calc(100% - 30px);
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
}
.col2{
    width: calc( 50% - 20px );
    height: calc(100% - 30px);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}
.col3{
    width: calc(25% - 10px);
    height: calc(100% - 30px);
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
}
footer{
    min-height: 60px;
    margin-top: 10px;
}

/* Content */
header>img{
    height: 70px;
    display: inline-block;
    padding-right: 20px;
    border-right: 1px solid rgb(221, 219, 219);
}
.nav-menu li{
    float: left;
    padding-right: 15px;
    list-style: none;
    line-height: 30px;
    color: grey;
}
ul:first-child{
    padding-left: 0%;
}
.nav-menu li:hover{
    color: rgb(218, 99, 138);
}
a{
    text-decoration: none;
    color: currentColor;
}
.section1_title{
    position: absolute;
    top: 60%;
    left: 10%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    width: 40%;
    z-index: 2;
}
.section1_subtitle{
    position: absolute;
    top: 80%;
    left: 10%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 40%;
    z-index: 2;
}
.row1>h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    margin-bottom: 0;
    font-weight: 700;
}
.row1>h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin-top: 2px;
    color: grey;
}
.card{
    display: inline-block;
    height: 150px; 
    width: 100%;
    border-radius: 20px;
    position: relative;
}
.card>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 20px;
}
.card_bottom_article{
    display: inline-block;
    max-height: calc(100% - 150px);
}
.card_bottom_article>h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.card_bottom_article>p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: grey;
}
footer>h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 200;
    font-size: 17px;
}
footer span{
    color: red;
    margin-left: 5px;
}


/* HOVER */
.card .img1{
    display: block;
}
.card .img2{
    display: none;
}
.card:hover .img1{
    display: none;
}
.card:hover .img2{
    display: block;
}
/* OVERLAY */
.overlay::after{
    content: '';
    display: block;
    position: absolute;
    background-color: black;
    border-radius: 20px;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.overlay:hover::after{
    opacity: 0.2;
}